<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--单机版solr -->
	<bean id="httpSolrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
		<constructor-arg index="0" value="${solr.Url}" />
		<!-- 设置响应解析器 -->
		<property name="parser">
			<bean class="org.apache.solr.client.solrj.impl.XMLResponseParser" />
		</property>
		<!-- 设置重试次数 -->
		<property name="maxRetries" value="${solr.maxRetries}" />
		<!-- 建立连接的最长时间 -->
		<property name="connectionTimeout" value="${solr.connectionTimeout}" />
	</bean>
	<!--集群版solr -->
	<bean id="cloudSolrServer" class="org.apache.solr.client.solrj.impl.CloudSolrServer">
		<!-- zookeeper地址 -->
		<constructor-arg name="zkHost" value="${solrCloud.zkHost}"></constructor-arg>
		<!-- collection默认名称，比如我的solr服务器上的collection是collection2_shard1_replica1，就是去掉“_shard1_replica1”的名称 -->
		<property name="defaultCollection" value="${solrCloud.defaultCollection}"></property>
		<!-- 客户端连接超时时间 -->
		<property name="zkConnectTimeout" value="${solrCloud.zkConnectTimeout}"></property>
		<!-- zookeeper连接超时时间 -->
		<property name="zkClientTimeout" value="${solrCloud.zkClientTimeout}"></property>
	</bean>
</beans>